.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  width: 1100px;
  padding: 92px 51px 89px;
  /* padding: 95px 50px; */
  /* margin-top: 90px; */
}

.header-link-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  display: flex;
  list-style: circle;
  gap: 32px;
}

.header-link-list-item {
  text-decoration: underline;
  white-space: nowrap;
}

.logo {
  display: flex;
  justify-content: start;
  margin-left: 45px;
  width: 148px;
  height: 105px;
}

.address-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  color: black;
  white-space: nowrap;
}

.no-style {
  text-decoration: none;
}

.active-link {
  list-style: none;
  text-decoration: none;
}

.cover {
  background-image: url("../images/cover.jpg");
  width: 1100px;
  height: 757px;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  z-index: 0;
  opacity: 0.6;
}

.cover-title {
  padding: 165px 50px 50px 60px;
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
  line-height: 130%;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: (12, 1fr);
  grid-template-rows: (12, 1fr);
  z-index: 1;
  align-content: center;
  position: relative;
}

.cover-title-item1 {
  text-align: start;
  grid-column: 1/5;
  grid-row: 4/5;
}

.cover-title-item2 {
  text-align: center;
  grid-column: 6/10;
  grid-row: 5/6;
}

.cover-title-item3 {
  text-align: end;
  grid-column: 9/13;
  grid-row: 7/8;
}

.descripton {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 55px 50px 0 50px;
}

.text-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px #fff solid;
  padding: 14px 32px;
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  margin-left: 107px;
}

.lots {
  padding: 193px 25px 0 25px;
}

.lots-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots-list-card {
  list-style: none;
  display: flex;
  flex-direction: row;
  position: relative;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item1 {
  background-image: url("../images/card-lot-01.jpg");
}

.item2 {
  background-image: url("../images/card-lot-02.jpg");
}

.item3 {
  background-image: url("../images/card-lot-03.jpg");
}

.card-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  width: 334px;
  height: 600px;
}

.card-content {
  padding: 48px 40px;
  z-index: 1;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  color: white;
}

.card-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: white;
}

.lots-more {
  text-decoration: underline;
  white-space: nowrap;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: black;
  display: block;
  margin: 30px 0 0 40px;
  text-decoration-line: underline;
}

.logo-section {
  width: 240px;
  height: 240px;
  background: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  padding: 120px 24px 0 24px;
}

.about-column {
  justify-self: center;
  padding-top: 35px;
}

.about-column-text {
  grid-column: 2/4;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about-logo-image {
  width: 148px;
}

.about-title {
  padding: 105px 0 104px 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-text {
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px 0;
}

.footer-social-icon {
  width: auto;
  height: 48px;
}

.footer-menu-list {
  text-align: center;
  list-style: none;
}

.footer-menu-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.footer-menu-link_active {
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.text-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #000000;
}
